.login-page {
    text-align: center;
    padding: 50px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
}

.login-page h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #50575e;
}  