.sidebar {
    background-color: var(--secondary-color);
    padding: var(--padding);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: var(--primary-color);
}

.sidebar a:hover {
    text-decoration: underline;
}  